<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <header>
            <img src="">
            <nav>
                <a class="nav_link" href="/about">About</a>
                <a class="nav_link" href="/login">Login</a>
            </nav>
        </header>
        <main>
            <p>Log in</p>
        </main>
    </body>
</html>